.btn-locale {
  cursor: pointer;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.btn-locale.active {
  background-color: yellow;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.admin-layout {
  min-height: 100vh;
}

.admin-contain {
  padding: 16px;
  margin: 0;
  min-height: 280px;
}

.admin-navbar {
  padding: 0 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.avatar-button {
  background-color: #f56a00;
  font-size: 24px;
  line-height: 26px;
  cursor: pointer;
}

.dropdown-user-setting {
  min-width: 100px;
}

.lang-active {
  color: #1677ff;
}
