.main-navbar {
  height: var(--main-navbar-height) !important;
  padding: 0 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  z-index: 1;
  position: fixed;
  width: 100%;

  .main-navbar-left {
    padding-left: 16px;
  }
}

.main-nav-logo {
  background: black;
  font-size: 18px;
  color: var(--text-white);
  display: flex;
  font-weight: 700;
  border: 1px solid transparent;
  align-items: center;
  padding: 4px 8px;

  &:hover {
    color: var(--text-white) !important;
    border-color: transparent !important;
  }
}
